/*
  CountryList Component Styles
  */

.flagImgTagStyles {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
  
.optionTagStyles { 
  font-size: 10px; 
  color: rgb(115, 115, 121);
}
  
.countriesBoxStyles {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  transition: all 300ms;
}
