/* Styles for Minicard Component */

.miniCardStyles {
  width: 75%;
  height: 120px;
  background-color: #7350FF;
  display: flex;
  justify-content: center;
  align-content: center;
  transform: rotate(-12.5deg);
  position: absolute;
  z-index: 0;
}

.miniCardLogoStyles {
  width: 80px;
  height: 30px;
  align-self: center;
}